<ul>
    {{#each this.model as |parent|}}
        <li>{{parent.name}}
            <ol>
                {{#each parent.children as |child|}}
                    <li>{{child.childName}}</li>
                {{/each}}
            </ol>
        </li>
    {{/each}}
</ul>
